.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 11100;
}

.overlay-visible {
    opacity: 1;
    visibility: visible;
}

.container {
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
}

.close-button {
    display: flex;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        opacity: 0.5;
    }
}
.rating-wrapper {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

.rating-empty,
.rating-full {
    height: 100%;
    background-repeat: repeat-x;
    position: absolute;
}

.rating-empty {
    background-image: url('../../public/img/star-empty.svg');
    width: 100%;
}

.rating-full {
    background-image: url('../../public/img/star-full.svg');
}

.rating-stars-wrapper {
    width: 80px;
    position: relative;;
    height: 16px;
}

.item-title {
    font-size: 24px;
    margin: 0;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-price {
    margin: 0;
    font-size: 20px;
}

.item-rating {
    margin: 0;
    font-size: 14px;
}

.item-description {
    margin: 0;
    font-size: 14px;
}