.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    z-index: 11100;
}

.overlay-visible {
    opacity: 1;
    visibility: visible;
}

.container {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.close-button {
    display: flex;
    position: absolute;
    top: -40px;
    right: -40px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
        opacity: 0.5;
    }
}